<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.1</string>
	<key>CFBundleName</key>
	<string>Bodentier hoch 4</string>
	<key>CFBundleIdentifier</key>
	<string>com.kbs.idoapp</string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>NSCameraUsageDescription</key>
	<string>Zum Aufnehmen von Fotos wird die Kamera-Berechtigung benötigt.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Zum Auswählen von Fotos wird die Foto-Berechtigung benötigt.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Zum automatischen Feststellen des Fundorts wird die Standort-Berechtigung benötigt.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Zum automatischen Feststellen des Fundorts wird die Standort-Berechtigung benötigt.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Zum automatischen Feststellen des Fundorts wird die Standort-Berechtigung benötigt.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Zum Nutzen des Kalenders wird die Kalender-Berechtigung benötigt.</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>URL Type 1</string>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImages.launchimage</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleDisplayName</key>
	<string>Bodentier hoch 4</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
</dict>
</plist>
